<%= form_for([@hotel, Comment.new], html: { class: 'ui form' }) do |form| %>
    <div class="field">
      <label>Username (min: 3, max: 50 words)</label>
      <%= form.text_field :name, id: :comment_name, placeholder: 'Your name' %>
    </div>
  
    <div class="field">
      <label>Comment (min: 5, max: 300 words)</label>
      <%= form.text_area :description, id: :comment_description, placeholder: 'Add comment...' %>
    </div>

  <button class="ui button" type="submit"><%= semantic_icon('paper plane')+'Post' %></button>

<% end %>