<%= form_for @hotel, html: { class: 'ui form' } do |form| %>

  <%= form.fields_for :comment do |ff| %>
    <div class="field">
      <%= ff.text_field :name, id: :hotel_comment_name, placeholder: :name %>
    </div>

    <div class="field">
      <%= ff.text_area :description, id: :hotel_comment_description, placeholder: :description %>
    </div>
  <% end %>

  <button class="ui button" type="submit">Post</button>

<% end %>