<div class="footer">
    <div class="ui borderless labeled icon menu">
        <div class="item center">
            <p>Made by Ivan Landeka &amp; Kristijan Prevolsek.</p>
            <p>RIT &copy; 2018</p>
        </div>
    </div>
</div>